.locationFilter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.locationLable {
  color: #6c717b;
}

.autoComplete {
  width: 100%;
  border-radius: 12px;
  height: 56px;
  border: none;
  outline: none;
}

.autoComplete input {
  font-size: 16px;
  color: #101828;
}

.autoComplete span {
  font-size: 16px;
}

.autoComplete:hover,
.autoComplete:focus,
.autoComplete:active {
  stroke: #101828;
}

.iconMap {
  margin-top: 6px;
  margin-right: 8px;
}
