.button {
  border-radius: 200px;
  padding: 16px 60px;
  background: #e44848;

  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #ffffff;
  border: none;
  transition: background-color 250ms linear;
  align-self: flex-start;
}

.button:hover,
.button:focus {
  background-color: #d84343;
}
