.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.filterText {
  font-weight: 500;
  color: #475467;
}

@media (max-width: 767px) {
  .wrap {
    gap: 16px;
  }

  .form {
    gap: 16px;
  }

  .btnSearch {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .filter {
    max-width: 28%;
    width: 100%;
  }
}
