.contentWrapper > *:last-child {
  margin-top: auto;
}

.cardImg {
  object-fit: cover;
  border-radius: 10px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.titleCard {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #101828;
}

.infoCard {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.iconStar {
  fill: #ffc531;
  margin-right: 4px;
}

.review {
  margin-right: 16px;
}

.priceWrap {
  display: flex;
  gap: 12px;
  height: 32px;
  align-items: center;
}

.descriptionCard {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 992px) {
  .favoritesCard .contentWrapper {
    height: 426px;
  }
}

@media (min-width: 1200px) {
  .cardImg {
    aspect-ratio: 4 / 3;
    object-position: 56%;
  }

  .card {
    display: flex;
    gap: 24px;
  }
}

@media (max-width: 1199px) {
  .cardImg {
    aspect-ratio: 16 / 9;
  }
}
