.header {
  height: 72px;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-bottom: 1px solid #f2f4f7;
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }
}
