.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.reviewHeader {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconStar {
  fill: #ffc531;
}

.reviewText {
  margin-top: 8px;
}
