.noPageWrap {
  padding: 20px;
}

.noPageText {
  text-align: center;
  font-size: 24px;
  color: #f33535;
  margin-bottom: 20px;
}

.noPageLink {
  text-align: center;
  display: block;
  padding: 10px 18px;
  width: 150px;
  margin: 0 auto;
  background-color: #a5b3fb;
  color: #fafafa;
  border-radius: 8px;
  font-size: 20px;
  transition: background-color 250ms linear;
}

.noPageLink:hover,
.noPageLink:focus {
  background-color: #8d8df6;
  outline: none;
}
